@font-face {
  font-family: "CourierNewPSMT";
  src: url("./fonts/CourierNewPSMT.eot");
  src: url("./fonts/CourierNewPSMT.eot?#iefix") format("embedded-opentype"),
  url("./fonts/CourierNewPSMT.woff") format("woff"),
  url("./fonts/CourierNewPSMT.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}