.wrapper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(271.84deg, #3023AE -82.55%, #53A0FD 42.25%);
  background-blend-mode: multiply, normal;
  position: relative;
  margin-top: auto;
  width: 100%;
  padding: 17px 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300; }

.justify {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }

.navList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start; }
  .navList a {
    padding: 10px;
    margin: 0 7px;
    transition: .3s;
    opacity: .6; }
    .navList a:hover {
      color: #FAFBFC;
      opacity: 0.8; }
